#intro {
	height: 100vh;
	width: 100vw;
	background-image: url('Aurora.png');
	/*background: radial-gradient(circle, #74A6EE 0%, #485CB2 100%);*/
	background-size: cover;
}

#intro .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main {
	position: relative;
}

#screen01 {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#screen01 .content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	opacity: 0;
	transition: all 1s ease-out;
}

#screen01 .content.fade-in {
	opacity: 1;
}

#screen02 {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: lightgrey;
}

.pinkBlock {
	width: 800px;
	height: 400px;
	margin: 0 auto;
	background-color: lightpink;
}

#screen03 {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: lightblue;
}
